@charset "utf-8";

.menu{
    padding: 100px 0 60px;
    color: #5a5c5f;
}

.menu-card{
    width: 33%;
    margin-top: 35px;
}

.menu-card-inner{
   padding: 25px 30px;
    background-color: #eaeaea;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #d2d4d6;
    text-align: center;
    margin: 0 20px;
}


.menu-image{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 6px;
    
}

.menu-title{
    margin-bottom: 10px;
}

.menu-text{
    font-size: 13px;
}


.menu-card-wrapper{
    display: flex;
    flex-wrap: wrap;
}





